.viewMore_main_container {
  .categoryHeading {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      display: flex;
      align-items: flex-end;
      letter-spacing: -0.02em;
      color: #12141d;
      margin-right: 30px;
    }

    .viewAllBtn {
      padding: 4px 20px;
      min-width: 104px;
      height: 30px;
      background: rgba(255, 102, 79, 0.1);
      border-radius: 5px;
      font-weight: 400;
      font-size: 17px;
      line-height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: -0.01em;
      color: #ff664f;
      box-shadow: none;
    }
  }
  .viewAllItemsCard_page_cards_area {
    .viewAllItemsCard-features-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 30px;

      .viewAllItemsCard-feature-card,
      .viewAllItemsCard-feature-card:hover {
        margin-left: 20px;
        margin-top: 20px;
        cursor: pointer;
        text-decoration: none;

        &:nth-child(1) {
          margin-left: 0;
        }
      }
      .viewAllItemsCard-feature-card {
        min-height: 350px;
        max-height: 450px;
      }
    }

    .features-card-mod {
      height: 420px;
      border: 0 !important;
      width: 340px;

      @media (max-width: 1600px) {
        width: 280px;
      }

      .meta_col {
        margin-bottom: 0px;
      }

      .card-img-top {
        width: 100%;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
      }

      .viewAllItemsCards-cards-headings-for-viewAllItemsCards-top {
        font-size: 20px;
        color: #565656;
        min-height: 40px;
      }
      .card-text {
        font-size: 14px;
        color: #565656;
      }

      .meta_col h6 {
        color: #17222b;
        opacity: 0.6;
        font-weight: 500;
      }
      .meta_col h6 {
        margin: 0;
      }
      .read-more-1 {
        cursor: pointer;
        font-weight: 500;
        font-size: 19px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        letter-spacing: -0.01em;
        color: #27ae60;
      }
    }

    .addCart_tableTop {
      opacity: 0;
      transition: 0s ease;
      cursor: pointer;

      table {
        border: 1px solid #c4c4c4;
        min-width: 200px;

        tr {
          th {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            letter-spacing: -0.01em;
            color: #04aa69;
            padding: 7px 12px;
            border-right: 1px solid #c4c4c4;
          }

          .addCart_text:hover {
            color: #0f0f0f;
          }
        }
      }
    }
  }

  .viewAllItemsCard-feature-card:hover .addCart_tableTop {
    opacity: 1;
    margin-top: 18px;
    transition: 0.5s ease;
  }

  .viewAllItemsCard-feature-card:hover .read-more-1 {
    display: none;
    transition: 0.5s ease;
  }

  .viewAllItemsCard-feature-card:hover
    .viewAllItemsCards-cards-headings-for-viewAllItemsCards {
    display: none;
    transition: 0.5s ease;
  }
}
