body {
  font-family: 'Lexend';
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar:hover {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #FF664F;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF664F;
} 
